/* Navbar.css */

/* Add any global styles here */

.navbar {
    background-image: url("greenleaves.jpg");
    background-size: cover;
    background-position: center;
  }
  
  /* Add any specific styles for the navbar here */
  